<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>顧客一覧</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/include.js"></script>
    <link rel="stylesheet" th:href="@{/css/customer/c-list.css}" />
</head>
<body>
    <div class="d-flex">
        <div id="sidebar-container"></div>
        <div class="content flex-grow-1 p-4">
            <h3>顧客一覧</h3>
            <table class="table table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>会社名</th>
                        <th>所在地</th>
                        <th>連絡先（電話）</th>
                        <th>担当者</th>
                    </tr>
                </thead>
                <tbody>
					<!-- customerListを一件ずつ取り出して変数customerに格納 -->
                    <tr th:each="customer : ${customerList}">
                        <td th:text="${customer.company}"></td>
                        <td th:text="${customer.address}"></td>
                        <td th:text="${customer.cTel}"></td>
                        <td th:text="${customer.person}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <script>
			// sidebar.htmlを表示するjs
            window.loginUserName = "[[${loginUserName}]]";
        </script>
    </div>
</body>
</html>
